:root {
  --primary-color: #c79b51;
  --secondary-color: #00a9b7;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background: transparent;
  overflow: hidden;
  text-shadow: 2px 2px 2px black;
  text-shadow: 1px 1px 4px black;
  text-shadow: 1px 1px 8px black;
}

.now-playing {
  display: flex;
  align-items: stretch;
  gap: 0px;
  padding: 0px;
  background: transparent;
  border-radius: 12px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.now-playing.hidden {
  opacity: 0;
  pointer-events: none;
}

#albumArt {
  width: 90px;
  height: 90px;
  border-radius: 8px 0px 0px 8px;
  object-fit: cover;
}

.song-info {
  flex-direction: column;
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  padding: 10px;
  border-radius: 0px 8px 8px 0px;
  overflow: hidden;
}

/* Blurred album art background */
.song-info .blur-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  /* opacity: 0.85; */
  border-radius: 8px;
  z-index: 0;
}

.song-info > * {
  position: relative;
  z-index: 2;
}

.song-title {
  font-size: 20px;
  font-weight: bold;
}

.song-artist {
  font-size: 16px;
  opacity: 0.8;
}

.progress-bar {
  margin-top: 8px;
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  overflow: hidden;
}

#progressFill {
  height: 100%;
  width: 40%;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color),
    var(--secondary-color)
  );
}

#timeDisplay {
  font-size: 14px;

  display: flex;
  justify-content: space-between;
  width: 100%;
}
